<div class="content_post_title" style="background-image">
  <%= link_to target_path(target.id), method: :get do %>
    <div class="title_check">
      ・<%= target.title %>
    </div>
  <% end %>
</div>
