<div class="main">
  <div class="left">
    <div class="title-only"> 
      <p>目標タイトル一覧</p>
    </div>

    <% @targets.each do |target| %>
      <%= render partial: "targetleft", locals: { target: target } %>
    <% end %>
  </div>  
  <div class="rigth">
    <div class="rigth-title">
      <p>検索結果一覧</p>
      <%= render partial: "formsearch" %>
    </div>
    <% @targets.each do |target| %>
      <%= render partial: "target", locals: { target: target } %>
    <% end %>
  </div>
  <div class="target-new">
    <%= render partial: "targetnew" %>
  </div>
</div>