<div class="contents row">
  <p><%= @name %>さんの目標一覧</p>
  <% @targets.each do |target| %>
    <div class="content_post" style="background-image: url(<%= target.image %>);">
      <p><%= target.title %></p>
      <p><%= target.deadline %></p>
    </div>
  <% end %>
</div>