.targets-post-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  height: 100%;
}

.targets-post-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.target-edit-btn {
  text-decoration: none;
}

.target-delete-btn {
  text-decoration: none;
}

.target-post-main {
  height: 100vh;
}

.targets-text {
  width: 300px;
}

.weight-bold-text {
  margin-top: 15px;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  /* text-align: center; */
}

.select-box {
  height: 30px;
  /* width: 100%; */
  background-color: #f5f5f5;
  padding-left: 20px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.input-deadline-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-deadline-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-deadline-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

/* 下部ボタン */
.target-btn-contents {
  width: 100%;
  text-align: center;
}

.target-btn {
  background: #cde4ff;
  border: none;
  color:purple;
  width: 100%;
  height: 50px;
  font-size: 25px;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}

.target-btn:hover {
  background-color: purple;
  color: #fff;
  transition: 0.2s;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: purple;
  text-decoration: none;
  text-align: center;
  padding: 10px 70px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.back-btn:hover {
  background-color: purple;
  color: #fff;
  transition: 0.2s;
}

/* 詳細画面 */
.target-show {
  background-color: #f5f5f5;
}

.show-main {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

.show-main {
  font-size: 30px;
}

.target-title {
  color: purple;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.target-show-box {
  margin-top:20px;
  font-size: 20px;
  text-align: center;
}

.edit-delete-btn {
  margin-top: 20px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.target-edit-btn {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  background-color: #cde4ff;  color: purple;
}

.target-edit-btn:hover{
  background-color: blueviolet;
  color: #fff;
  transition: 0.2s;
}

.target-delete-btn {
  font-size: 20px;
}

.modalOpen {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  background-color: #cde4ff;
  color: purple;
}

.modalOpen:hover {
  background-color: blueviolet;
  color: #fff;
  transition: 0.2s;
}


/* モーダルウインドウ */
.modalOpen, .modalClose {
  cursor: pointer;
}

.modal h3{
  font-size: 20px;
  margin-bottom: 15px;
}

.modalClose {
  font-size: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.95);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 200px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.mask.active {
  opacity: 0.7;
  visibility: visible;
}

